*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
/* cusor code start from here */
.cursor{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: fixed;
    background-color: #edbfff;
    z-index: 9;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
}
/* cursor code end here */
.main{
    cursor: none;
    background-color: #000000;
}
.page1{
    width: 100%;
    min-height: 100vh;
}
.header{
    height: 55px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header img{
    height: 36px;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 100px;
}
.middle h4:hover{
    color: #65008d;
}
.header h4{
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
}
.middle h4:nth-child(1){
    text-decoration: underline;
}
.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(113, 4, 255);
}
.page1 h1{
    font-size: 12vw;
    font-weight: 300;
    font-family: pp mori;
    margin-top: 5vw;
    margin-left: 18vw;
    font-family: pristina;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    font-family: pp mori;
    margin-left: 50vw;

}
.page1 h2 img{
    width: 508px;
    position: relative;
    bottom: -50px;
    left: -250px;
    
}
.page1 video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid black;
}
.page2 h1{
    font-size: 8vw;
    font-weight: 500;
    color: #111;
}
.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
}
.page2-left{
    /* background-color: blue; */
    width: 38%;
}
.page2-right{
    /* background-color: blue; */
    width: 30%;
}
.page2-left h2{
    font-size: 3vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}
.page2-right p{
    font-size: 28px;
    color: #111;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #d059ff;
    color: black;
    margin-top: 20px ;
}

.page3{
    min-height: 150vh;
    width: 100%;
    position: relative;
    padding: 100px 100px;
   
}
.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color:#111;
   margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-part1 img{
    height: 500px;
    margin-top: 160px;
}
.page3-part1 video{
    height: 25vw;
    margin-top: 50px;
}

.page4{
    min-height: 120vh;
    width: 100%;
    
    padding: 140px 100px;
}
.elem{
    
    display: flex;
            justify-content: center;
            align-items: center;
            height: 145px;
}
.elem img{
    position:absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(5deg);
    height: 300px;
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 10%;
    height: 400px;
    
}
.text-div{
    /* background-color: lightblue; */
    position: relative;
    height: 135px;
            overflow: hidden;
            z-index: 20;
            mix-blend-mode: difference;
    
}
.elem h1{
    font-size: 7.3vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}
.elem:hover h1{
    transition: all ease-out 0.5s;
    transform: translateY(-100%);
    color: #edbfff;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
}
.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}
.all-games{
    position: relative;
    z-index: 50;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    border-top: 1.5px solid #dadada;
}
.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}







.footer{
    min-height: 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.social-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
    width: 100%;
    gap: 20px;
    background-color: red;
}
.social-div i{
    font-size: 25px;
    
}
.social-div button{
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
    transition: all ease 1s;
}
.social-div button:hover{
    transform: scale(1.1);
    transition: all ease 0.5s;
}
.down{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;

}
.down button{
    width: 20vw;
    height: 3vw;
    background-color: rgb(21, 21, 21);
    border: none;
    border-radius: 20px;
    font-weight: 900;
    font-size: 1vw;
}
.down img{
    width: 180px;
}
.all{
    line-height: 25px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.all h3:hover{
    color: #d059ff;
}